<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:comp="http://xmlns.jcp.org/jsf/composite/comp">
    <h:head>
        <f:facet name="first">
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
        </f:facet>        
        <title>Employee</title>
        <h:outputStylesheet library="css" name="crud.css" />
    </h:head>
    <h:body>        
        <h:form id="form1">

            <comp:messageDialog/>
            <comp:ajaxStatus/>

            <h1>Employee</h1>

            <p:commandButton action="#{employeeBean.createNewEmployee}" value="New Employee" process="@this" update="pgForm" resetValues="true"/>

            <h:panelGroup id="pgForm" layout="block" styleClass="ui-g">
            	<p:fieldset legend="Employee Form" styleClass="myfieldset">
                    <div class="ui-g-12 ui-lg-1">
                        <p:outputLabel value="Id"/>
                        <p:inputText id="id" value="#{employeeBean.employee.employeeId}" readonly="true"/>
                    </div>                
                    <div class="ui-g-12 ui-lg-6">
                        <p:outputLabel value="Name" for="employeeName"/>
                        <p:inputText id="employeeName" value="#{employeeBean.employee.employeeName}" required="true" requiredMessage="Name not filled!"/>
                    </div>
                    <div class="ui-g-12 ui-lg-5">
                        <p:outputLabel value="Hire Date" for="employeeHireDate"/>
                        <p:calendar id="employeeHireDate" value="#{employeeBean.employee.employeeHireDate}" required="true" requiredMessage="Hire date not filled!"/>
                    </div>
                    <div class="ui-g-12 ui-lg-5">
                        <p:outputLabel value="Salary" for="employeeSalary"/>
                        <p:inputText id="employeeSalary" value="#{employeeBean.employee.employeeSalary}" required="true" requiredMessage="Salary not filled!"/>
                    </div>
                    <div class="ui-g-12 ui-lg-1">
                        <p:commandButton id="saveBtn" action="#{employeeBean.save}" value="Save" process="pgForm" update="pgForm pgList"/>
                    </div>                    
                    <p:defaultCommand target="saveBtn" scope="pgForm"/>
            	</p:fieldset>
            </h:panelGroup>

            <h:panelGroup id="pgList" layout="block">
                <p:fieldset legend="Employee List" styleClass="myfieldset">
                    <p:dataTable var="e" value="#{employeeBean.employeeList}" emptyMessage="No Employee Found" styleClass="mydatatable">
                        <p:column headerText="Id" priority="3">
                            <h:outputText value="#{e.employeeId}" />
                        </p:column>

                        <p:column headerText="Name" priority="0">
                            <h:outputText value="#{e.employeeName}" />
                        </p:column>
                        
                        <p:column headerText="Hire Date" priority="2">
                            <h:outputText value="#{e.employeeHireDate}" />
                        </p:column>                        

                        <p:column headerText="Actions" priority="0" style="text-align: center; width: 70px">
                            <p:commandLink id="editLink" action="#{employeeBean.editEmployee(e)}" resetValues="true"
                                           title="Edit" style="top: 1px;position:relative;"
                                           update=":form1:pgForm" process="@this" oncomplete="window.scrollTo(0,0);">                                
                                <i class="fa fa-pencil-square-o myactionlink myeditlink"></i>
                            </p:commandLink>                            
                            <p:commandLink id="deleteLink" action="#{employeeBean.deleteEmployee(e)}" resetValues="true"
                                           title="Delete" style="text-decoration: none"
                                           update=":form1:pgForm :form1:pgList" process="@this">                                
                                <i class="fa fa-trash-o myactionlink mydellink"></i>
                                <p:confirm header="Confirmation" message="Are you sure you want to delete this employee?" icon="ui-icon-alert"/>
                            </p:commandLink>                            
                        </p:column>                        
                    </p:dataTable>

                    <p:confirmDialog global="true" styleClass="mydlg">
                        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
                    </p:confirmDialog>                    
                </p:fieldset>
            </h:panelGroup>
        </h:form>
    </h:body>
</html>
